html, body{ 
    min-width: 100vw;
    min-height: 100vh;
    overflow: auto;
}

.nav {
    grid-area: nav;
}

.quiz {
    grid-area: quiz;
}

.welcome_box {
    grid-area: wb;
}

.speaker {
    grid-area: speaker;
}

.inner_grid {
    grid-area: ig;
}

.submit {
    grid-area: submit;
}

.answerToneA {
    grid-area: answerToneA;
}

.answerToneB {
    grid-area: answerToneB;
}

.answerToneC {
    grid-area: answerToneC;
} 

.answerToneD {
    grid-area: answerToneD;
}

.grid {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-gap: 3px;
    height: 100vh;
    grid-template-areas: 
        "nav"
        "quiz";
    background: url(assets/img/layout/mobile_background.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}
.grid > * {
    text-align: center;
}

.nav {
    height: 10vh;
    background-color:  rgba(243,242,242, 0.7);
}

li, a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-size: 2.5vh;
}

.logo {
    margin-left: -5px;
}

.speaker {
    cursor:pointer;
    height: 120px;
    width: 120px;
    background-image: url(assets/img/layout/speaker.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: transparent;
    text-shadow: none;
    border-radius: 50%;
    margin-bottom: 5px;
}
.submit {
    height: 40px;
    width: 120px;
    background: #007fff;
    border: 2px solid black;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
}
.inner_grid ul {
    background-color:  rgba(243,242,242, .5);
    padding-top: 5px;
    border-radius: 5%;
}
.answerTone{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    border:2px solid black;
    border-radius: 5%;
    width:100px;height:100px;
}
form > input:focus + label {
    border: 2px solid red;
}
.speaker:focus {
    border: 2px solid red;
}
.submit:focus {
    border: 2px solid red;
}
a:focus {
    border: 1px solid red;
}
form > input:checked + label {
    border: 2px solid red;
}
.speaker:checked {
    border: 2px solid red;
}
.submit:checked {
    border: 2px solid red;
}
a:checked {
    border: 1px solid red;
}



/* mobile in portrait orientation */
@media screen and (min-width: 320px) {   
    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        margin-right: 20px;
        padding-top: 1vh;
        text-decoration: none;
    }
    .inner_grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-grow: 1;
        height: 80vh;
        width: 90vw;
        margin: 5vh auto 10vh auto;
        background: rgba(243,242,242, 0.7);
        border-radius: 5%;
    }
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto .001px;
        grid-gap: 5vh;
        align-content: center;
        align-items: center;
        margin-top: 1vh;
        grid-template-areas: 
            "answerToneA answerToneB"
            "answerToneC answerToneD"
            "submit submit";
    }
    .result_img {
        height: 20vh;
        width: auto;
        border: 2px solid black;
        border-radius: 5%;
    }

    .welcome_box li {
        margin-right: 30px;
        margin-bottom: 3vh; 
        padding-bottom: 5px;   
    }
    h1 {
        margin-top: -3vh;
        margin-bottom: 5vh;
        font-size: 3vh;
    }
}

/* mobile in landscape orientation */
@media screen and (max-height: 639px) and (orientation: landscape) {
    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-grow: 1;
        margin-right: 20px;
        margin-top: 3vh;
        text-decoration: none;
    }

    .grid {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        grid-gap: 3px;
        height: 100vh;
        grid-template-areas: 
            "nav"
            "quiz";
        background: url(assets/img/layout/desktop_background.jpg) no-repeat center center;
        background-size: cover;
        overflow: hidden;
    }
    .inner_grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-grow: 1;
        height: 80vh;
        width: 70vw;
        margin: 5vh auto 10vh auto;
        background: rgba(243,242,242, 0.7);
        border-radius: 5%;
    }
    form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto .001px;
        grid-gap: 5vh;
        align-content: center;
        align-items: center;
        margin-top: 3vh;
        grid-template-areas: 
            "answerToneA answerToneB answerToneC answerToneD"
            ". submit submit .";
    }
    h1 {
        margin-top: 10px;
        font-size: 3vh;
    } 

    .submit {
        height: 30px;
        width: 80px;
        background: #007fff;
        border: 2px solid black;
        border-radius: 5%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vh;
        font-size: 3vh;
        margin-bottom: 10px;
    }
    form > .answerTone {
        height: 70px;
        width: 70px;
    }
    .welcome_box li {
        font-size: 3vh;
    }
    .speaker {
        cursor:pointer;
        height: 70px;
        width: 70px;
        background-image: url(assets/img/layout/speaker.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-color: transparent;
        text-shadow: none;
        border-radius: 50%;
        margin-bottom: 5px;
        margin-top: 10px;
    } 
}


/* tablet and larger landscpe screen settings */
@media screen and (min-height: 640px) and (orientation: landscape) {
    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-grow: 1;
        margin-right: 20px;
        margin-top: 3vh;
        text-decoration: none;
    }

    .grid {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        grid-gap: 3px;
        height: 100vh;
        grid-template-areas: 
            "nav"
            "quiz";
        background: url(assets/img/layout/desktop_background.jpg) no-repeat center center;
        background-size: cover;
        overflow: hidden;
    }
    .inner_grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-grow: 1;
        height: 80vh;
        width: 90vw;
        margin: 5vh auto 10vh auto;
        background: rgba(243,242,242, 0.7);
        border-radius: 5%;
    }
    form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto .001px;
        grid-gap: 5vh;
        align-content: center;
        align-items: center;
        margin-top: 3vh;
        grid-template-areas: 
            "answerToneA answerToneB answerToneC answerToneD"
            ". submit submit .";
    }
    h1 {
        margin-top: 10px;
        font-size: 3vh;
    } 
    .submit {
        height: 80px;
        width: 150px;
        background: #007fff;
        border: 2px solid black;
        border-radius: 5%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vh;
        font-size: 3vh;
        margin-bottom: 10px;
    }
    form > .answerTone {
        height: 180px;
        width: 180px;
    }
    .welcome_box li {
        font-size: 3vh;
    }
    .speaker {
        cursor:pointer;
        height: 180px;
        width: 180px;
        background-image: url(assets/img/layout/speaker.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-color: transparent;
        text-shadow: none;
        border-radius: 50%;
        margin-bottom: 5px;
        margin-top: 10px;
    }

 
}
/* tablet in portrait */
@media screen and (min-width: 760px) and (orientation: portrait) {
    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-grow: 1;
        margin-right: 20px;
        margin-top: 2vh;
        text-decoration: none;
    }
    .inner_grid {
        width: 70vw;
        height: 85vh;
        margin-top: 3vh;
    }
    .speaker {
        cursor:pointer;
        height: 200px;
        width: 200px;
        background-image: url(assets/img/layout/speaker.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-color: transparent;
        text-shadow: none;
        border-radius: 50%;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .submit {
        height: 100px;
        width: 300px;
        background: #007fff;
        border: 2px solid black;
        border-radius: 5%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vh;
        font-size: 3vh;
    }
    form > .answerTone {
        height: 170px;
        width: 170px;
    }
    h1 {
        font-size: 3vh;
    }
    .welcome_box li {
        font-size: 3vh;
    }
}

.answerTone{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    border:2px solid black;
    border-radius: 5%;
    width:100px;height:100px;
}
 

.first {
    background-image: url('assets/img/sn/a_sharp.jpg');
}
.second {
    background-image: url();
}
.third {
    background-image: url();
}
.fourth {
    background-image: url();
}