html, body{ 
    min-width: 100vh;
    min-height: 100vh;
    overflow: auto;
  }

/* .grid {
    display: grid;
    grid-template-columns: 10vh 40vh 40vh 10vh;
    grid-template-rows: auto;
}

header {
    grid-column: span 4;
}

.navbar_container {
    display: grid;
    grid-template-columns: 15vh 20vh 20vh 20vh 15vh;
}

.navbar_container > li {
    grid-column: 2 / span 3;
    grid-template-columns: subgrid;
} */

nav {
    height: 15vh;
    width: 100vh;
}

li {
    display: in-line;
}

