html, body{ 
    min-width: 100vw;
    min-height: 100vh;
    overflow: auto;
}

.nav {
    grid-area: nav;
}

.quiz {
    grid-area: quiz;
}

.welcome_box {
    grid-area: wb;
}

.speaker {
    grid-area: speaker;
}

.inner_grid {
    grid-area: ig;
}

.submit {
    grid-area: submit;
}

.answerToneA {
    grid-area: answerToneA;
}

.answerToneB {
    grid-area: answerToneB;
}

.answerToneC {
    grid-area: answerToneC;
} 

.answerToneD {
    grid-area: answerToneD;
}

.grid {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-gap: 3px;
    height: 100vh;
    grid-template-areas: 
        "nav"
        "quiz";
    background: url(assets/img/layout/mobile_background.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}
.grid > * {
    text-align: center;
}

.nav {
    height: 10vh;
    background-color:  rgba(243,242,242, 0.7);
}

li, a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-size: 2.5vh;
}

.logo {
    margin-left: -5px;
}

.speaker {
    cursor:pointer;
    height: 120px;
    width: 120px;
    background-image: url(assets/img/layout/speaker.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: transparent;
    text-shadow: none;
    border-radius: 50%;
    margin-bottom: 5px;
}
.submit {
    height: 40px;
    width: 120px;
    background: #007fff;
    border: 2px solid black;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
}
.inner_grid ul {
    background-color:  rgba(243,242,242, .5);
    padding-top: 5px;
    border-radius: 5%;
}



@media screen and (min-width: 280px) {
    
    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        margin-right: 20px;
        padding-top: 1vh;
        text-decoration: none;
    }
    .inner_grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-grow: 1;
        height: 80vh;
        width: 90vw;
        margin: 8vh auto 10vh auto;
        background: rgba(243,242,242, 0.7);
        border-radius: 5%;
    }
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto .001px;
        grid-gap: 5vh;
        align-content: center;
        align-items: center;
        margin-top: 1vh;
        grid-template-areas: 
            "answerToneA answerToneB"
            "answerToneC answerToneD"
            "submit submit";
    }
    .result_img {
        height: 20vh;
        width: auto;
        border: 2px solid black;
        border-radius: 5%;
    }

    .welcome_box li {
    margin-right: 30px;
    margin-bottom: 3vh; 
    padding-bottom: 5px;   
    }
    h1 {
        margin-top: -3vh;
        margin-bottom: 5vh;
    }
}

@media screen and (min-height: 640px) and (orientation: landscape) {
    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-grow: 1;
        margin-right: 20px;
        padding-top: 1vh;
        text-decoration: none;
    }

    .grid {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        grid-gap: 3px;
        height: 100vh;
        grid-template-areas: 
            "nav"
            "quiz";
        background: url(assets/img/layout/desktop_background.jpg) no-repeat center center;
        background-size: cover;
        overflow: hidden;
    }
    .inner_grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-grow: 1;
        height: 60vh;
        width: 60vw;
        margin: 15vh auto 10vh auto;
        background: rgba(243,242,242, 0.7);
        border-radius: 5%;
    }
    form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto .001px;
        grid-gap: 5vh;
        align-content: center;
        align-items: center;
        margin-top: 1vh;
        grid-template-areas: 
            "answerToneA answerToneB answerToneC answerToneD"
            ". submit submit .";
    }

    
}

@media screen and (min-width: 760px) {
    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-grow: 1;
        margin-right: 20px;
        padding-top: 1vh;
        text-decoration: none;
    }
 
}

  

/* nav {
    height: 15vh;
    width: 100%;
}

.js_quiz_container {
    width: 50%;
    margin: auto;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
nav li {
    float: left;
  }
  
nav li a, .js_quiz_score, .js_quiz_question_number {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
nav li a:hover {
    background-color: #111;
  } */


/* .js_speaker_button:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
} */


/* .js_quiz input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
} */

/* .js_quiz, .answerTone input:active +.answerTone{opacity: .9;}
.answerTone, .js_quiz input:checked +.answerTone{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
} */
.answerTone{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    border:2px solid black;
    border-radius: 5%;
    width:100px;height:100px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    /* -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7); */
}
/* .answerTone:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
} */
/* .submit {
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid black;
    cursor: pointer;
    width: 100px;
    height: 70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}

.submit:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
} */ 
.first {
    background-image: url('assets/img/sn/a_sharp.jpg');
}
.second {
    background-image: url();
}
.third {
    background-image: url();
}
.fourth {
    background-image: url();
}